/*Ecem Gulec-991692324 */
.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background::before{
    content: "";
    background-image: url("../images/backgroundimg.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}
.parent{
    position: relative;
    width: 96%;
    height: 96%;
    margin:20px;
    display: grid;
    grid-template-areas: "h h"
                     "ar as"
                     "s n"
                     "f f";
    grid-template-columns: auto auto;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 10px;
}
header{
    
    grid-area: h;
    border: 2px solid black;
    border-radius: 8px 8px 0px 0px;
    background-color:rgba(255, 84, 54, 0.4);
}
header>h3{
    text-align: center;
}
article{
    grid-area: ar;
    border: 2px solid black;
}
article >p{
    font-size: 12px;
    margin:3px;
}
aside{
    grid-area: as;
    border: 2px solid black;
}
aside>p{
    font-size: 12px;
    margin:3px;
}
section{
    grid-area: s;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
nav{
    grid-area: n;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 2px solid black;
}
footer{
    grid-area: f;
    display: flex;
    border: 2px solid black;
    border-radius: 0px 0px 8px 8px;
}
footer>a{
    margin-left: 280px;
    margin-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
img{
    border-radius: 20px;
    
}
.one>p{
    font-size: 12px;
}
.one{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}
.two{
    border-top: 2px solid rgba(37, 36, 36, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
}
.imgcenter{
    text-align: center;
}
p{
   padding-left: 10px;
   padding-right: 10px;
}